.body{
    margin: 0;
}

.BackgroundOne {
    width: 100%; 
    height: 100vh;
    background-image: url("../images/BlueGradient.jpg");
    overflow:hidden;
    background-repeat: no-repeat;
    margin:0;
    position:relative;

}

.NameContainer{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:102;
}

.NameContainer h1{
    font-size: 177px;
    font-family: Antonio;
    color: white;
    margin: 0;
    padding: 0;
}


.NameContainer h1:hover{
    background-image: url("../images/WaveOne.png");
    background-repeat: repeat-x;
    -webkit-background-clip:text;
    animation: animate 10s linear infinite;
    color: rgba(255,255,255,.2);
}

@keyframes animate

{
    0%
    {
        background-position: left 0px top 130px;
    }
    
     40%
    {
        background-position: left 800px top -25px;
    }
   
     80%
    {
        background-position: left 1800px top -25px;
    }
    
    80%
    {
        background-position: static;
    }

}

.lName {
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 55.5%;
    top: 55.2%;
}

.lName img{
    width: 200px;
     
}

#startContainer {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 68%;
    left: 70%;
    z-index:101;
}

#startImg img{
    width: 300px;
}







